.navigation {
  position: sticky;
  top: 0;
  width: 20%;
  height: 100vh;
  color: white;
  background: linear-gradient(
    10deg,
    var(--primary-color),
    var(--secondary-color)
  );
  padding: 5px 10px;
  overflow: hidden;
}

.navigation.active {
  width: max-content;
}

.navigation header {
  position: relative;
  background-color: rgba(255, 255, 255, 0.29);
  border-radius: 16px;
  padding: 25px 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.navigation.dark header {
  background-color: rgba(0, 0, 0, 0.39);
}

.navigation.active header {
  padding: 0;
  margin-top: 10px;
  background-color: transparent;
}

.navigation header::after {
  position: absolute;
  content: "";
  width: 80%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.368);
  bottom: 0;
}

.navigation.active header::after,
.navigation.active header span {
  display: none;
}

.navigation .menu {
  position: absolute;
  right: 10px;
  top: 0;
  z-index: 1;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
  aspect-ratio: 1;
}

.navigation.active .menu {
  rotate: 180deg;
  position: relative;
  display: block;
  margin: 0 auto;
}

.navigation.active header .profile {
  height: 40px;
  margin: 10px 0;
}

.navigation header .profile .profile-img {
  height: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: lightgray;
}

.navigation header .profile .profile-img {
  height: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
}

.navigation header span {
  font-size: 15px;
}

.navigation .divider {
  position: relative;
  width: 80%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.311);
  /* display: flex; */
  /* justify-content: center; */
  margin: 0 auto;
}

.navigation .bg-waves {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.3;
}
